<div *ngIf="step == 1" class="step-1">
  <div *ngFor="let item of ordersService.cart()" class="product mb-2">
    <div class="d-flex">
      <div class="image me-2">
        <img
          width="100px"
          class="img-fluid"
          [src]="item.ProductImg"
          [alt]="item.ProductName"
        />
      </div>
      <div class="details">
        <h4>{{ item.ProductName }}</h4>
        <div
          style="width: fit-content"
          class="quantity d-flex align-items-center border rounded p-2"
        >
          <img
            (click)="changeQuntity(-1, item)"
            class="icon"
            width="20px"
            src="assets/images/icons8-minus.png"
            alt="minus"
          />
          <h5 class="mb-0 mx-2">{{ item.Quntity }}</h5>
          <img
            (click)="changeQuntity(1, item)"
            class="icon"
            width="20px"
            src="assets/images/icons8-plus.png"
            alt="plus"
          />
        </div>
        <h5>
          {{
            item.Quntity ? item.ProductPrice * item.Quntity : item.ProductPrice
          }}
          EGP
        </h5>
      </div>
    </div>
    <hr />
  </div>

  <button (click)="step = 2" class="btn btn-primary w-100">Next</button>
</div>

<div *ngIf="step == 2" class="step-2 pt-3">
  <p-dropdown
    [options]="userService.users()"
    [(ngModel)]="selectedUser"
    optionLabel="Name"
    [showClear]="true"
    placeholder="Select a User"
  ></p-dropdown>

  <p-dropdown
    class="my-3"
    [options]="paymentsType"
    [(ngModel)]="selectedPaymentType"
    optionLabel="label"
    [showClear]="true"
    placeholder="Payment Type"
  ></p-dropdown>




  <button (click)="step = 1" class="btn btn-primary w-100">Prev</button>

  <button (click)="onConfirm()" class="btn btn-primary w-100 mt-3">
    Confirm
  </button>

</div>
